* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --nav-height: 100vh;
    --nav-width: 200px;
    --padding-20px: 20px;
}
body {
    background-color: lightgray !important;
}
nav {
    height: var(--nav-height);
    width: var(--nav-width);
    display: block;
    position: fixed;
    background-color: white;
    box-shadow: 0px 0px 10px #333;
}
.link-box {
    text-align: right;
    margin: 15vh 10px 10px 10px;
    display: block;
}
.link-box > li {
    padding-top: var(--padding-20px);
}

a {
    text-decoration: none;
    color: lightcoral !important;
}
.link-box > li > a:hover {
    color: #333 !important;
    font-weight: bold !important;
    text-decoration: none !important;
}
.content {
    width: calc(100% - 200px);
    height: 100vh;
    float: right;
}
.icon {
    display: none;
}
.toggler {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-right: 20px;
    background-image: url('images/notcross.svg');
    background-size: cover;
}
.togglerChange {
    background-image: url('images/cross.svg') !important;
    background-size: cover !important;
}
.bottom {
    margin-top: 10px;
}
.background1 {
    width: 100%;
    height: auto;
    color: white;
    padding: 20px;
    background-image: url('images/background-2.png');
    left: -2880px;
    top: 0px;
    background-position-y: -400px;
}
.background2 {
    width: 100%;
    height: auto;
    padding: 20px;
    background-image: linear-gradient(120deg,rgba(245,33,33,0) 87%,rgba(255,255,255,0.08) 15%),linear-gradient(110deg,rgba(27,0,255,0) 85%,rgba(255,255,255,0.08) 15%),linear-gradient(103deg,rgba(255,33,33,0) 84%,rgba(255,255,255,0.08) 15%),radial-gradient(circle,#0087C9 0%,#0087C9 100%);
}
.text-box-1 {
    width: 70%;
}
.logo {
    width: 210px;
    height: 200px;
    background-image: url('images/logo.svg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
}
.active {
    display: block !important;
}
.fa-phone {
    color: lightgreen;
}
.fa-bitbucket {
    color: blue;
}
.fa-envelope {
    color: red;
}
.link-name {
    color: royalblue;
}
@media screen and (max-width: 768px) {
    nav {
        width: 100%;
        height: 70px;
        position: absolute;
    }
    .content {
        margin-top: 70px;
        width: 100%;
    }
    .link-box {
        text-align: left;
        margin: 0;
        display: none;
    }
    .icon {
        position: absolute;
        display: block;
        float: right;
        top: 0;
        right: 0;     
    }
    .logo {
        width: 50px;
        height: 50px;
        margin: 10px;
        margin-left: 20px;
    }
    a {
        padding: 10px;
        float: none;
        color: white;
    }
    li {
        background-color: white;
        padding: 5px;
    }
    li:last-child {
        padding-bottom: 20px;
    }
}